/* Responsive Media */

figure, figcaption, img {
  padding: 0;
  margin: 0;
  display: block;
}

img {
  max-width: 100%
}

@media screen and (min-width: 12.5em) {
  /* Small Styles */
  img { 
    width: 80%;
    float: center;
}
}

@media screen and (min-width: 50em) {
  /* Mid-sized Styles */
  figure { width: 80%}
  img { 
    width: 80%;
    float: left;
}
  figcaption {
    width: 15%;
    float: right;
}
  
}

@media screen and (min-width: 75em) {
  /* Large Styles */
}
